magephp:
    environments:
        dev:
            user: root
            from: ./
            to:
            host_path:
            releases:
              enabled: true
              max: 5
              symlink: current
              directory: releases
            exclude:
              - .idea
              - yii_test
              - yii_test.bat
              - .git
              - .gitignore
              - .gitattributes
              - .mage.yml
              - .mage.yml.example
              - ._*
              - .gitattributes
              - phpunit.xml
            hosts:
              - 0.0.0.0
            pre-deploy:
            on-deploy:
             - fs/link: { from: '../../backend/web', to: './frontend/web/admin' }
             - exec: { cmd: 'composer dump-autoload -o --no-dev', desc: 'composer dump-autoload' }
            on-release:
            post-release:
            post-deploy: